#logotop{
    width: 80px;
    object-fit: cover;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background-color: #ff7b00;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #6205a5, #9f5adb);
    color: white;
}

/* LOGO */
.logo img {
    width: 110px;
}

/* MENU */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

/* LINKS DO MENU */
.nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 5px;
    transition: 0.3s;
}

/* Hover (cresce levemente) */
.nav-links a:hover {
    transform: scale(1.1);
    color: #ddd;
}

/* LINHA ANIMADA */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

/* Linha no hover */
.nav-links a:hover::after {
    width: 100%;
}

/* Página ativa */
.nav-links a.active::after {
    width: 100%;
}

.nav-links a.active {
    color: #ddd;
}

/* ÍCONES */
.social-icons a {
    display: inline-block;
    margin-left: 15px;
}

.social-icons i {
    font-size: 30px;
    color: white;
    transition: 0.25s;
}

/* Hover */
.social-icons a:hover i {
    color: rgb(192, 125, 255);
    transform: scale(1.2);
}

/* Clique */
.social-icons a:active i {
    color: #25d366;
    transform: scale(1.3);
}

/* TÍTULO */
.menu-title {
    text-align: center;
    padding: 30px;
    background: linear-gradient(135deg, #4b0082, #9d4edd);
    color: white;
}

.menu-title h1 {
    font-size: 38px;
    letter-spacing: 1px;
}

/* CONTAINER */
.container {
    padding: 30px;
}

/* GRID */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* CARD */
.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

/* IMAGEM */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* CONTEÚDO */
.card-content {
    padding: 15px;
}

.card-content h3 {
    margin-bottom: 10px;
    color: #4b0082;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 12px;
    color: #555;
}

/* PREÇO */
.price {
    font-weight: bold;
    color: #7b2cbf;
    font-size: 18px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-title h1 {
        font-size: 28px;
    }
}